<p-button label="Remover" severity="secondary" (onClick)="confirm()" />

<div class="card flex justify-content-center">
    <p-confirmDialog #cd>
        <ng-template pTemplate="headless" let-message>
            <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
                <span class="font-bold text-2xl block mb-2 mt-4">
                    {{ message.header }}
                </span>
                <p class="mb-0">{{ message.message }}</p>
                <div class="flex align-items-center gap-2 mt-4">
                    <button pButton label="Confirmar" (click)="cd.accept()" class="w-8rem">
                    </button>
                    <button pButton label="Cancelar" (click)="cd.reject()" class="p-button-outlined w-8rem ">
                    </button>
                </div>
            </div>
        </ng-template>
    </p-confirmDialog>
</div>